* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  color: #f7f3ea;
  text-align: center; }

h2 {
  font-size: 2.5rem; }

h2, h4, button {
  text-transform: uppercase; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #f7f3ea; }

.container {
  margin: 0 auto;
  padding: 5% 0;
  width: 1100px; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  color: #f7f3ea;
  text-align: center; }

h2 {
  font-size: 2.5rem; }

h2, h4, button {
  text-transform: uppercase; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #f7f3ea; }

.container {
  margin: 0 auto;
  padding: 5% 0;
  width: 1100px; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

@media (min-width: 320px) and (max-width: 570px) {
  .container {
    padding: 2%;
    width: 96%; } }
@media (max-width: 1023px) {
  .container {
    width: 960px; }

  .box {
    width: 50%; } }
#box1-container {
  background-color: #87509c; }
  #box1-container #logo {
    position: relative;
    float: left; }
  #box1-container .encabezado {
    padding-top: 5%;
    font-size: 2.22rem; }

#menu {
  float: right; }
  #menu li {
    display: inline; }
  #menu li + li {
    margin-left: 45px; }
  #menu a {
    color: #f7f3ea;
    font-size: 0.88rem;
    font-weight: bold;
    text-transform: uppercase; }
  #menu a:hover, #menu .link-activo {
    padding: 5% 8%;
    border-radius: 8px;
    background-color: #643a79 !important; }

.button1 {
  border: 0;
  width: 293px;
  height: 70px;
  margin-top: 50px;
  background-color: #eb7d4b;
  border-radius: 5px;
  border-bottom: 5px solid #c86a40;
  font-size: 18px;
  color: #f7f3ea;
  text-transform: uppercase;
  background-color: #eb7d4b;
  border-bottom: 5px solid #c86a40; }

#box2-container {
  background-color: #17c2a4; }
  #box2-container .box {
    float: left;
    width: 25%;
    margin: 10% 0; }

.info-box p {
  padding: 5px; }

#box3-container {
  background-color: #3c5499; }

.info-input {
  float: left;
  width: 50%; }
  .info-input label {
    float: left;
    position: absolute; }

.form {
  margin: 5%; }
  .form .input {
    margin: 15px 5px;
    border: 0;
    width: 75%;
    height: 50px;
    background-color: #273a71; }
  .form #message {
    border: 0;
    width: 80%;
    height: 200px;
    background-color: #273a71; }
  .form label::after {
    content: "*";
    color: #f2454a; }

.button2 {
  border: 0;
  width: 293px;
  height: 70px;
  margin-top: 50px;
  background-color: #eb7d4b;
  border-radius: 5px;
  border-bottom: 5px solid #c86a40;
  font-size: 18px;
  color: #f7f3ea;
  text-transform: uppercase;
  background-color: #30bae7;
  border-bottom: 5px solid #299ec5; }

#footer {
  background-color: #344b8e;
  padding: 30px 0; }
  #footer li {
    display: inline; }
  #footer li + li {
    margin-left: 45px; }
  #footer a {
    margin-top: 145px;
    color: #f7f3ea;
    font-size: 24px; }
  #footer a:hover, #footer .link-activo2 {
    color: #30bae7; }

/*# sourceMappingURL=style.css.map */
