@import 'variables';

#box2-container{
  background-color: $color-box2;

  .box{
    float: left;
    width: 25%;
    margin: 10% 0;

    img{
      max-width: 90%;
    }
  }
}

.info-box{
  h4{
    padding-top: 10%;
  }
  p{
    padding: 10%;
  }
}

