@import 'variables';

#box3-container{
  background-color: $color-box3;
}

.info-input{
  float: left;
  padding: 0 1%;
  width: 48%;
}



.form{
  margin: 5%;

  label{
    float: left;
  }

  .input{
    float: left;
    margin: 15px 5px;
    border: 0;
    width: 100%;
    height: 50px;
    background-color: $color-bord2;
  }

  #message{
    border: 0;
    width: 100%;
    height: 200px;
    background-color: $color-bord2;
  }

  label::after{
    content: "*";
    color: #f2454a;
  }
}

.button2{
  @include botones; 
  background-color: $color-btn2;
  border-bottom: 5px solid #299ec5;
}
