@media (min-width: 320px) and (max-width: 767px){
  // Generales
  .container{
    padding: 2%;
    width: 96%;
  }

  // Header
  .encabezado{
    margin: 10%;
    font-size: 1.22rem;
  }
  #menu{
    display: none;
  }

  // Contenido
  .box{
    float: none;
    width: 100%;
    margin: 10% auto;
  }

  // formulario
  .info-input{
    display: inline-block;
  }
  .form{
    .input{
      display: block;
      width: 100%;
    }
    #message{
      width: 100%;
    }
  }
}
