@import 'variables';
@import 'generales';
@import 'header';
@import 'contenido';
@import 'formulario';
@import 'footer';

@media (min-width: 320px) and (max-width: 480px){
  // Generales
  .container{
    padding: 2%;
    width: 96%;
  }

  // Header
  .encabezado{
    font-size: 1.22rem;
  }
  #menu{
    display: none;
  }

  // Contenido
  .box{
    width: 100%;
  }

}
