@media (max-width: 1023px) and (min-width: 768px){
  // Generales
  .container{
    max-width: 768px;
    padding: 2%;
    width: 96%;
  }

  h2{
    font-size: 1.33rem;
  }

  // Contendio
  .box{
    width: 50%;
  }
  //Formulario
  .info-input{
    float: none;
    display: block;
    width: 100%;
  }
  .form{
    margin: 5%;
    .input{
      width: 100%;
    }
  }
  //Footer
}